</body>
<hr>
<style>
    @keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

    .blinking-text {
        animation: blink 1s infinite;
        text-align: right;
    }
</style>
<p class="blinking-text"> This is Footer </p>
</html>